<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioHardwarePowerHint</key>
	<string>None</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>NSAccessibilityUsageDescription</key>
	<string>Kol needs accessibility access to monitor keyboard events for hotkey detection.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSInputMonitoringUsageDescription</key>
	<string>Kol needs Input Monitoring permission so your global hotkey works in every app.</string>
</dict>
</plist>
